//header{
.header {
  padding: 1rem;
  background-color: $gray;
  margin-bottom: 2rem;
  strong {
    font-size: 2rem;
    font-weight: 900;
    color: $pri;
  }
  .header-nav {
    svg {
      margin-right: 0.4rem;
    }
    & > * {
      margin-right: 1rem;
    }
    .active {
      color: black;
    }
    .heading {
      color: $sec;
      &:hover {
        color: $pri;
      }
    }
    .active-nav {
      text-decoration: none;
      color: black;
      &:hover {
        color: $pri;
      }
    }

    .unselected {
      color: $sec;
      text-decoration: none;
      &:hover {
        color: $pri;
      }
    }
  }
}
footer {
  padding: 1rem;
  background-color: $gray;
  margin-top: 1rem;
  small {
    font-size: 0.7rem;
    font-weight: 600;
    color: $text-gray;
    text-transform: uppercase;
  }
}
