//login-sec

.account {
  text-align: center;
  text-decoration: none;
  color: $pri;
  font-size: 1rem;
  margin-top: 1rem;
}

form {
  width: 600px;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
}

input,
textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  border: 1px solid $sec;
  border-radius: 0.3rem;
  outline: none;
  color: $sec;
  font-family: "Nunito", sans-serif;
}

.submit {
  background-color: $pri;
  color: white;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  position: absolute;
  right: -2rem;
  bottom: -4rem;
  width: 200px;
  &:hover {
    background-color: #367a36;
  }
}

.error {
  color: brown;
  font-size: 0.8rem;
}

button :disabled {
  background-color: $sec;
  color: $gray;
}
